<div class="live-pepole">
 <ul class="pepole-header">
   <li><span id="text" >online: </span><span id="count" >30</span></li>
   <li><span id="text" >offline: </span><span id="count" >10</span></li>
 </ul>
 <div class="pepole-account">
   <h2 id="online">online</h2>
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       <span id="online-status"></span>
     </div>
     <div class="account-name">
      <div class="name-div">
        <h4>homayun rahman</h4>
        <h5>Ab</h5>
      </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
   
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       <span id="online-status"></span>
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>bd</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
   
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       <span id="online-status"></span>
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>c</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
   
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       <span id="online-status"></span>
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>habibur rahman</h4>
         <h5>02</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
   
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       <span id="online-status"></span>
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>e</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
   
   
 </div>
 
 
 <div class="pepole-account pepole-offline">
   <h2 id="online">offline</h2>
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>Ab</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
 
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>bd</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
 
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>c</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
 
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>d</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
 
   <div class="account-det">
     <div class="account-img">
       <img src="./images/profile.jpg" alt="" />
       
     </div>
     <div class="account-name">
       <div class="name-div">
         <h4>mahfujur rahman</h4>
         <h5>e</h5>
       </div>
       <div class="cond">
         <span>(reading)</span>
         <span>12:25pm</span>
       </div>
     </div>
   </div>
 
 
 </div>
</div>
