
<div class="live-notice"">
    <h3>আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস।</h3>
    <p>আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস। অপরাধ যে সময়ই হোক, আর যে স্থানেই হোক, মানুষ যেন বিচার পেতে পারে, সেই ধারণা প্রতিষ্ঠিত করতে বিশ্বব্যাপী প্রতিবছর এই দিবসটি পালন করা হয়। এ বছর দিবসটির মূল প্রতিপাদ্য হচ্ছে—‘আনুষ্ঠানিক কর্মসংস্থানের মাধ্যমে সামাজিক ন্যায়বিচার অর্জন’। <br>
        আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস। অপরাধ যে সময়ই হোক, আর যে স্থানেই হোক, মানুষ যেন বিচার পেতে পারে, সেই ধারণা প্রতিষ্ঠিত করতে বিশ্বব্যাপী প্রতিবছর এই দিবসটি পালন করা হয়। এ বছর দিবসটির মূল প্রতিপাদ্য হচ্ছে—‘আনুষ্ঠানিক কর্মসংস্থানের মাধ্যমে সামাজিক ন্যায়বিচার অর্জন’। <br>
        আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস। অপরাধ যে সময়ই হোক, আর যে স্থানেই হোক, মানুষ যেন বিচার পেতে পারে, সেই ধারণা প্রতিষ্ঠিত করতে বিশ্বব্যাপী প্রতিবছর এই দিবসটি পালন করা হয়। এ বছর দিবসটির মূল প্রতিপাদ্য হচ্ছে—‘আনুষ্ঠানিক কর্মসংস্থানের মাধ্যমে সামাজিক ন্যায়বিচার অর্জন’। <br>
        আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস। অপরাধ যে সময়ই হোক, আর যে স্থানেই হোক, মানুষ যেন বিচার পেতে পারে, সেই ধারণা প্রতিষ্ঠিত করতে বিশ্বব্যাপী প্রতিবছর এই দিবসটি পালন করা হয়। এ বছর দিবসটির মূল প্রতিপাদ্য হচ্ছে—‘আনুষ্ঠানিক কর্মসংস্থানের মাধ্যমে সামাজিক ন্যায়বিচার অর্জন’। <br>
        আজ ১৭ জুলাই, আন্তর্জাতিক ন্যায়বিচার দিবস। অপরাধ যে সময়ই হোক, আর যে স্থানেই হোক, মানুষ যেন বিচার পেতে পারে, সেই ধারণা প্রতিষ্ঠিত করতে বিশ্বব্যাপী প্রতিবছর এই দিবসটি পালন করা হয়। এ বছর দিবসটির মূল প্রতিপাদ্য হচ্ছে—‘আনুষ্ঠানিক কর্মসংস্থানের মাধ্যমে সামাজিক ন্যায়বিচার অর্জন’। <br>
        وللناس مذاهبهم المختلفة في التخفف من الهموم والتخلص من الأحزان، فمنهم من يتسلى عنها بالقراءة، ومنهم من يتسلى عنها بالرياضة، ومنهم من يتسلى عنها بالاستماع للموسيقى والغناء، ومنهم من يذهب غير هذه المذاهب كلها لينسى نفسه ويفر من حياته الحاضرة وما تثقله به من الأعباء.
    </p>
</div>
